@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');

body {
    font-family: Arial, sans-serif;
    /* background-color: linear-gradient(45deg,blue,violet, blue); */
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* background-color: #f8f9fa; */
    background: linear-gradient(45deg,blue,violet, blue);
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
  }
  .navbar a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    padding: 10px;
  }
  .navbar .navbar-brand {
    background-color: rgb(161, 20, 200);
    /* azure */
    border-width: 1px;
    border-color: #171616;
    border-radius: 10px;
    border-style: solid;
    font-weight: bolder;
    font-size: 2.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 
  .navbar .sea {
    display: flex;
  }
  .navbar .sea input[type="search"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .navbar .sea button {
    padding: 6px 10px;
    border: 1px solid #28a745;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  .navbar .sea button:hover {
    background-color: #218838;
  }
 

#section{
    background: linear-gradient(45deg, rgba(238, 130, 238, 0.382), rgba(0, 0, 255,  0.382),rgba(238, 130, 238,  0.382));
    width :30vw ;
    height: 60vh;
    border: #000;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 10px;


}
#container{
  background: linear-gradient(45deg,blue,violet, blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}
#city{
  font-family: "Playwrite CU", cursive;
  text-decoration-line:underline;
  font-size: 5vh;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

#temp{
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-size: 4vh;
  font-weight: 800;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
}

#section1{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  gap: 3vw;
  background: linear-gradient(45deg, rgba(238, 130, 238, 0.382), rgba(0, 0, 255,  0.382),rgba(238, 130, 238,  0.382));
  border-radius: 20px;
  width: 28vw;
  height: 14vh;
}

#humidity{
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-size: 3vh;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
}

#wind-speed{
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-size: 3vh;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
}